<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
    <form action="#">
  <label for="guest_fname">First name:</label><br>
  <input type="text" id="guest_fname" name="guest_fname" ><br>
  <label for="guest_Lname">Last name:</label><br>
  <input type="text" id="guest_Lname" name="guest_Lname" ><br><br>
  <label for="guest_mail">Email address:</label><br>
  <input type="text" id="guest_mail" name="guest_phone" ><br>
 <label for="guest_phone">Phone Number:</label><br>
  <input type="text" id="guest_phone" name="guest_phone" ><br>
  <label for="guest_who">Who is guest:</label><br>
  <input type="radio" id="guest_self" name="guest_self" value="guest_self">
  <label for="guest_self"> Me </label><br>
  <input type="radio" id="guest_other" name="guest_other" value="guest_other">
  <label for="guest_other"> Other </label><br>
  <label for="guest_name">Guest Firstname and Lastname:</label><br>
  <input type="text" id="guest_name" name="guest_name" ><br>
  <br>
  <a href="/bookingform/sucess"><button type="button">Book</button></a>
</form> 

    </body>
</html>