<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <table style="width:100%">
    <tr>
        <th>Room type</th>
        <th>Capacity</th>
        <!--<th>Size</th> -->
        <th>Features</th>
        <th>Price</th>
        <th></th>
        
    </tr>
    <tr>
        <td>"King Size"</td>
        <td>2</td>
        <td>free breakfast </td>
        <td>price</td>
        <td><button type="button">Book</button></td>
    </tr>
    <tr>
        <td>"King Size"</td>
        <td>2</td>
        <td>free breakfast </td>
        <td>price</td>
        <td><button type="button">Book</button></td>
        
    </tr>
</table>

    </body>

</html>
